* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background: #fff;
}

/* COMMON */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 50px;
}

/* HERO */
.hero {
  background: #ffffff;
}

.logo {
  width: 140px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 34px;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #1e90ff;
}

.hero p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.features {
  list-style: none;
  margin-top: 20px;
}

.features li {
  margin-bottom: 12px;
  padding-left: 30px;
  position: relative;
}

.features li::before {
  content: "✔";
  color: #1e90ff;
  position: absolute;
  left: 0;
}

/* FORM */
.form {
  background: #fff;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
}

.form input,
.form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.checkbox {
  font-size: 14px;
  margin-bottom: 12px;
}

.captcha {
  border: 1px solid #ccc;
  padding: 12px;
  margin: 15px 0;
}

.btn-primary {
  width: 100%;
  padding: 14px;
  background: #3fa9f5;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.or {
  text-align: center;
  margin: 15px 0;
}

.btn-dark {
  width: 100%;
  padding: 12px;
  background: #24292e;
  color: white;
  border: none;
  margin-bottom: 10px;
}

.btn-light {
  width: 100%;
  padding: 12px;
  background: white;
  border: 1px solid #ccc;
}

/* G2 */
.g2 {
  background: #eaf7fb;
  text-align: center;
  padding: 60px 20px;
}
.g2 h2{
    font-size: 35px;
}

.badges {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.badges img{
    width: 90px;
    margin: 10px;
}




.link{
    text-align: center;
    margin: 10px;
}
.link a{
    font-size: 25px;
    margin-bottom: 20px;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #aaa;
}

/* FOOTER */
footer {
  background: #2c2f36;
  color: #ccc;
  text-align: center;
  padding: 30px 20px;
}

