*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.4);
    border: none;
    color: #b0413e;
    background-color: #ffffc7;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #ffffc7;
    font-size: 5vmin;
}

.hide{
display: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}